<div id="<%= dom_id invoice %>">
  <p>
    <strong>Number:</strong>
    <%= invoice.number %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= invoice.date %>
  </p>

  <p>
    <strong>Symvar:</strong>
    <%= invoice.symvar %>
  </p>

</div>
