<div id="<%= dom_id tracking_number %>">
  <p>
    <strong>Carrier:</strong>
    <%= tracking_number.carrier %>
  </p>

  <p>
    <strong>Tracking number:</strong>
    <%= tracking_number.tracking_number %>
  </p>

</div>
