<div id="<%= dom_id order_state %>">
  <p>
    <strong>Name:</strong>
    <%= order_state.name %>
  </p>

  <p>
    <strong>Date created:</strong>
    <%= order_state.date_created %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= order_state.note %>
  </p>

</div>
