<div id="<%= dom_id billing %>">
  <p>
    <strong>Code:</strong>
    <%= billing.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= billing.name %>
  </p>

  <p>
    <strong>Cod:</strong>
    <%= billing.cod %>
  </p>

</div>
